---
import React from "react";
import { Image } from "astro:assets";
import { type ImageMetadata } from "astro";

import "../styles/global.css";
import { Header } from "../components/header";
import avatarPng from "../assets/avatar.png";
import { site } from "../data/siteMetadata";

type Props = {
  title: string;
  description?: string;
  coverImage?: ImageMetadata;
};

const { title, description, coverImage } = Astro.props as Props;
const pageDescription = description || site.description;
const openGraphImage = coverImage !== undefined ? coverImage : avatarPng;
const openGraphImageSrc = `${site.siteUrl}${openGraphImage.src}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | browniebroke.com</title>
    <link rel="icon" type="image/svg+xml" href={avatarPng.src} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Bruno Alla's blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Bruno Alla's TILs"
      href={new URL("tils.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta name="title" content={title} />
    <meta name="description" content={pageDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={openGraphImageSrc} />
    <meta name="twitter:creator" content="Bruno Alla" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content={openGraphImageSrc} />
  </head>
  <body>
    <Header siteTitle={site.title} />
    {
      coverImage && (
        <div class="p-0">
          <Image src={coverImage} alt="" />
        </div>
      )
    }
    <div class="container mx-auto pt-12 pb-6 px-4 max-w-xl min-h-screen">
      <main class="min-h-[70vh]">
        <slot />
      </main>
      <footer>
        <span class="text-[0.7em]">
          © {new Date().getFullYear()}, Built with{` `}
          <a
            href="https://astro.build"
            title="Astro"
            target="_blank"
            rel="noopener noreferrer"
            class="inherit-color"
          >
            {Astro.generator}
          </a>
        </span>
      </footer>
    </div>
  </body>
</html>
